<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Clothes4Hoes</title>

    <link type="text/css" rel="stylesheet" href="~/css/StyleSheet.css">
    <link rel="shortcut icon" href="~/img/c4h 2.0.jpg" type="image/x-icon" />

</head>
<body>
    <nav>
        <div class="logo-image">
            <img src="~/img/c4h 2.0.jpg" />
        </div>


        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/registreren">Registreren</a></li>
            <li><a href="/login">Inloggen</a></li>
            <li><a href="/kleding">Kleding</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        
    </nav>
    
    @RenderBody()
</body>


</html>
