@{
    ViewData["Title"] = "Contact";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1>Contact</h1>
<div class="contact-pagina">
    <p> Algemene vragen: 076-763 046 </p>
    <p> Whatsapp (enkele berichten): 06-100 537 52 </p>

</div>


<div class=" column-box">
    <div class="box">
        <h4> Instagram </h4>
        <h5> @@Clothes4Hoes</h5>
    </div>
    <div class="box">
        <h4> Snapchat </h4>
        <h5> @@Clothes4Hoes</h5>
    </div>
    <div class="box">
        <h4> Twitter </h4>
        <h5> @@Clothes4Hoes</h5>
    </div>


</div>

