@{
    ViewData["Title"] = "Inloggen";
}
<h1> Hier kunt u inloggen </h1>

<form text- method="post">
    <input type="text" name="Voornaam" placeholder="Voornaam" /> <br />
    <input type="text" name="Achternaam" placeholder="Achternaam" /> <br />
    <input type="text" name="Email" placeholder="Emailadres" /> <br />
    <input type="date" name="Geboortedatum" placeholder="Geboortedatum" /> <br />
    <input type="submit" value="verstuur" />
</form>

