@using SchoolTemplate.Database;
@model List<Kledingstuk>
@{ 
    ViewData["Title"] = "Kleding";

}

<h1> Bestel hier uw kleding</h1>

    @if (Model != null)
    {
        foreach (Kledingstuk kledingstuk in Model)
        {

<div class="box-kleding">
    <a href="/kledingstuk/@kledingstuk.Id">
    <img class="kledingstuk-algemeenfotos" src=@kledingstuk.Afbeelding >
</div>

    }
}


