<h1>Inloggen</h1>
<h2>Log hier in op uw account:</h2>

<form method="post">
    Email: <input type="text" name="email"/>
    Wachtwoord: <input type="text" name="wachtwoord"/>
  <input type="submit"/>

 </form>

