@using SchoolTemplate.Database;
@model KlantModel;
@{
    ViewData["Title"] = "Profielpagina";    
}

<h2>Uw gegevens:</h2>
<p>Voornaam: @Model.Voornaam</p>
<p>Achternaam: @Model.Achternaam</p>
<p>Emailadres: @Model.Email</p>


